In [22]:
import pandas as pd
import numpy as np

In [4]:
data = []
for i in range(10):
    file_name = 'population_{}.csv'.format(i)
    with open(file_name, 'r') as file:
        data = data + [line for line in file.readlines()]

In [6]:
len(data)

600000

In [14]:
[float(number) for number in line.replace('[','').replace(']\n','').split(', ')]

[0.5090823280228381,
 0.4394736842105263,
 0.6701030927835051,
 0.7857142857142857,
 0.3937341236240474,
 0.21875,
 0.65,
 0.8374499560680999]

In [15]:
def convert_line(line):
    return [float(number) for number in line.replace('[','').replace(']\n','').split(', ')]

In [18]:
data_df = pd.DataFrame(data=[convert_line(i) for i in data], columns=['f1','f2','f3','f4','f5','f6','f7','f8'])

In [19]:
data_df

,f1,f2,f3,f4,f5,f6,f7,f8
0,0.509082,0.439474,0.670103,0.785714,0.393734,0.218750,0.650000,0.837450
1,0.360519,0.580263,0.484536,0.285714,0.672312,0.245536,0.405952,0.410951
2,0.332673,0.552632,0.783505,0.500000,0.454699,0.517857,0.705952,0.548873
3,0.198073,0.325000,0.752577,0.285714,0.258256,0.535714,0.615476,0.573397
4,0.641196,0.473684,0.711340,0.642857,0.372566,0.410714,0.677381,0.803903
...,...,...,...,...,...,...,...,...
599995,0.613811,0.301316,0.628866,0.571429,0.330229,0.540179,0.602381,0.684491
599996,0.495660,0.363158,0.804124,0.642857,0.296359,0.142857,0.739286,0.852953
599997,0.596164,0.347368,0.443299,0.428571,0.318374,0.593750,0.555952,0.635257
599998,0.486233,0.317105,0.556701,0.428571,0.202371,0.526786,0.717857,0.703843
599999,0.612361,0.521053,0.804124,0.571429,0.584251,0.602679,0.395238,0.691565

In [24]:
for i in np.arange(1,22,1):
    print(i)
    data_df.sample(n=60000).to_csv('random_population_{}.csv'.format(i),sep=',', index=False, encoding='utf-8')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21