In [16]:
import numpy as np
import pandas as pd
from scipy.stats import gmean
from scipy.stats import entropy

In [2]:
!ls

 agregacoes_analise.txt			   __pycache__
 analysis_2.ipynb			   random_solution_objectives.csv
 analysis_2.pdf				   RandomSolutions
 analysis.ipynb				   random_solutions.csv
 analysis_relatorio.ipynb		   ReferenceSet.txt
 analysis_relatorio.pdf			   ResultGraphics
'Dendograms Random Solutions'		   Results_2020
 functions-analysis.ipynb		   script1.py
 hierarchical_clustering_solution.R	   script2.py
 hierarchical_clustering_solutions.ipynb   script-paretos-moead.py
 hypervolumes.ipynb			   script-paretos-moead-sa.py
 initial_population.txt			   script.py
 methods.py				   scripts_for_cluster_executions
 nbactions.xml				   solutions_pre_processing.ipynb
 NewResults				   src
 pareto_final.txt			   target
'plots do pareto.ipynb'			   Untitled.ipynb
 pom.xml

In [4]:
data = pd.read_csv('random_solution_objectives.csv')

In [5]:
data.head()

         f1     f2     f3    f4      f5     f6      f7        f8
0  171814.0  194.0  145.0  11.0  1101.0  123.0  1286.0  0.454545
1  169522.0  198.0  162.0  11.0  1080.0  157.0  1293.0  0.477273
2  167830.0  221.0  167.0  12.0   949.0  124.0  1458.0  0.479167
3  174978.0  221.0  152.0  12.0  1196.0  153.0  1192.0  0.500000
4  158096.0  180.0  161.0  10.0   977.0  127.0  1405.0  0.425000

In [10]:
data_entropy = entropy(data)
data_entropy

array([9.13673116, 9.0289813 , 9.20590335, 9.17367013, 9.0741041 ,
       9.0625891 , 9.11941442, 9.17804505])

In [11]:
np.argmax(data_entropy)

2

In [13]:
np.mean(data['f1'])

350131.8005

In [15]:
gmean(data['f1'])

322522.85798102076

In [ ]:
def dispersion_ration(values):
    AM = np.mean(values)
    GM = gmean(values)